#cvTemplete{
    display:none ;
}
.myimg{
    width:150px;
    height:150px !important;
    border-radius: 50%;
    
}
.profileT{
    background-color: aqua !important;
}
.professionalT
{
    background-color: aqua !important;
}